body.index {
    .list-index {
        ul {
             li{
                    margin-top: 10px;
                    margin-bottom: 10px;
             } 

        }
    }
    .contact-us {
        margin-top: 10px;
        margin-bottom: 10px;
        color: #fff;
        a {
            color: #fff;
            text-decoration: none;
            font-size: 20px;
            font-weight: 600;
            &:hover {
                color: #00b7ff;
                text-decoration: underline;
            }
        }
        i {
            margin-right: 30px;
            transform: scale(2);
            margin-bottom: 10px;
        }
    }
}