@use '../base/variables' as *;

$tour-egypt-bg: #4a3f35;
$tour-egypt-text: #fff;
$icon-yellow: rgb(229, 255, 0);
$secondary-color: #1e1e1e;

body.round {
  @include tour-style($tour-egypt-bg, $tour-egypt-text, $icon-yellow, $secondary-color);
}