@use '../base/variables' as *;

$tour-turky-bg: #4a7aff;
$tour-turky-text: #fff;
$icon-yellow: rgb(229, 255, 0);
$secondary-color: #1e1e1e;

body.round2 {
  @include tour-style($tour-turky-bg, $tour-turky-text, $icon-yellow, $secondary-color);
}