@use '../base/variables' as *;

$tour-turky-bg: #f0f6ff;        
$tour-turky-text: #183153;       
$icon-yellow: #ffd600;          
$secondary-color: #198754;       

body.round2 {
  @include tour-style($tour-turky-bg, $tour-turky-text, $icon-yellow, $secondary-color);
  ul {
    li {
        color: $tour-turky-text;
    }
  }
}