@use '../base/variables' as *;

$tour-egypt-bg: #888888;        
$tour-egypt-text: #3e2723;      
$icon-yellow: #ffd600;           
$secondary-color: #b48a5a;      


body.round {
  @include tour-style($tour-egypt-bg, $tour-egypt-text, $icon-yellow, $secondary-color);
    ul {
      li {
          color: $tour-egypt-text;
      }
  }  
  
}