@use "./base/variables" as *;
@use "./page/create_account.scss" as *;
@use "./page/index.scss" as *;
@use "./page/Login.scss" as *;
@use "./page/round.scss" as *;
@use "./page/round2.scss" as *;

body {
  background-color: $primary-color;
  nav {
  background: #00000000;
  li {
    font-family: "Tajawal", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  img {
    width: 70%;
    height: auto;
    }
}
.btn {
  margin : 10px;
}
footer {
    .list-unstyled {
        li {
            color: #7e7e7e !important;
            font-size: 16px;
            text-align: start;
        }
    }
    i {
        color: #7e7e7e !important;
    }
    
.footer-custom a:hover { color: #ffc107 !important; }
.footer-map iframe { border-radius: 8px; }

}
}
